@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  height: 28rem;
}
.header::after {
  z-index: -10;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/pattern-bg.png);
  background-size: cover;
}
.header__title {
  color: white;
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
  margin-top: 3rem;
}
.header__search {
  position: relative;
  width: fit-content;
}
.header__input {
  font-family: monospace;
  top: 0;
  animation: fadeOut 1s ease forwards;
  width: 50rem;
  padding: 2rem;
  padding-right: 6.8rem;
  background-color: white;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.5rem;
}
.header__input:focus {
  border: none;
  outline: none;
}
.header__tip {
  user-select: none;
  z-index: 1000;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: grey;
  font-size: 1.5rem;
}
.header__button {
  animation: fadeOutBtn 1s ease forwards;
  position: absolute;
  width: 6rem;
  height: 100%;
  border: none;
  border-radius: 0 1.5rem 1.5rem 0;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.header__button:hover, .header__button :focus {
  background-color: hsl(0, 0%, 17%);
}

.main {
  animation: fadeIn 1s ease forwards;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0rem;
  margin: 0 auto;
  width: 90%;
  max-width: 95rem;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  padding: 3rem 0;
  max-height: 100%;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out;
}
.main__info {
  padding: 0 3rem;
  gap: 2rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.main__info_btn--hide {
  pointer-events: all;
  cursor: pointer;
  content: "";
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: block;
  width: 2rem;
  height: 2rem;
  background-image: url(../../assets/images/free-icon-point-eye.png);
  background-size: 2rem 2rem;
}
.main__info_element {
  position: relative;
  width: 20rem;
  display: flex;
  flex-direction: column;
}
.main__info_element:not(:last-child)::after {
  margin: 0.5rem 0;
  position: absolute;
  right: 0;
  content: "";
  width: 0.1rem;
  height: 6rem;
  background-color: hsl(0, 0%, 90%);
}
.main__info_icon {
  display: none;
  position: absolute;
  background-image: url(../../assets/images/favicon.png);
  width: 5rem;
  height: 5rem;
  background-size: 5rem 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: show 4s forwards;
}
.main .info_element_title {
  font-weight: 700;
  font-size: 1.2rem;
  color: hsl(0, 0%, 59%);
  margin-bottom: 0.8rem;
  letter-spacing: 0.2rem;
}
.main .info_element_value {
  width: 15rem;
  font-size: 2rem;
  font-weight: 500;
  color: hsl(0, 0%, 17%);
}

#map {
  height: calc(100% - 28rem);
}

.leaflet-popup-content {
  text-align: center;
  width: 13rem !important;
  font-size: 1.2rem !important;
}

.main__info--hide {
  max-height: 15%;
}

.main__info_text--hide {
  animation: hide 1.5s forwards;
}

.modal {
  z-index: 1000;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeInModal 1s ease-in-out forwards;
  background-color: #fff;
  border: 1px solid darkgrey;
  box-shadow: 3px 11px 25px -10px rgb(66, 68, 90);
  width: 50rem;
  height: 15rem;
  border-radius: 2rem;
  padding: 3rem;
  line-height: 3rem;
}
.modal__title {
  font-size: 2.5rem;
}
.modal__text {
  font-size: 1.8rem;
}
.modal__cross {
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2.5rem;
  font-weight: 200;
}

.showModal {
  display: block;
}

.background {
  display: none;
}
.background--dark {
  display: block;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.closeModal {
  display: none;
}

.main__info_icon--show {
  display: block;
}

@media (min-width: 480px) and (max-width: 768px) {
  .header {
    height: 32rem;
  }
  .header__title {
    font-size: 2.8rem;
    margin-top: 2rem;
  }
  .header__input {
    width: 40rem;
    padding-right: 5rem;
  }
  .main {
    width: 40rem;
    top: -4rem;
    padding-top: 1rem;
    padding-top: 1.5rem;
  }
  .main__info {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .main__info_element {
    width: 100%;
  }
  .main__info_element:not(:last-child)::after {
    display: none;
  }
  .main .info_element_value {
    text-align: center;
    width: 100%;
  }
  .modal {
    width: 40rem;
  }
  .modal__title {
    font-size: 2.4rem;
  }
  .modal__text {
    font-size: 1.6rem;
  }
}
@media (min-width: 375px) and (max-width: 480px) {
  .header {
    height: 30rem;
  }
  .header__title {
    font-size: 2.4rem;
    margin-top: 2rem;
  }
  .header__input {
    width: 35rem;
    padding-right: 5rem;
  }
  .main {
    width: 35rem;
    top: -5rem;
  }
  .main__info {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .main__info_element {
    align-items: center;
    width: 100%;
  }
  .main__info_element:not(:last-child)::after {
    display: none;
  }
  .main .info_element_value {
    text-align: center;
    width: 100%;
  }
  .modal {
    width: 35rem;
    height: 12rem;
  }
  .modal__title {
    font-size: 2.2rem;
  }
  .modal__text {
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .header {
    height: 28rem;
  }
  .header__title {
    font-size: 2.2rem;
    margin-top: 2rem;
  }
  .header__input {
    width: 30rem;
    padding-right: 5rem;
  }
  .main {
    width: 30rem;
    top: -6rem;
  }
  .main__info {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .main__info_element {
    align-items: center;
    width: 100%;
  }
  .main__info_element:not(:last-child)::after {
    display: none;
  }
  .main .info_element_value {
    text-align: center;
    width: 100%;
  }
  .modal {
    width: 30rem;
    height: 12rem;
  }
  .modal__title {
    font-size: 2rem;
  }
  .modal__text {
    font-size: 1.3rem;
  }
}
@keyframes fadeIn {
  0% {
    transform: translate(-50%, 17rem);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 21rem);
    opacity: 1;
  }
}
@keyframes fadeOutBtn {
  0% {
    transform: translate(-100%, 5rem);
    opacity: 0;
  }
  100% {
    transform: translate(-100%, 0);
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    transform: translate(0, 5rem);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInModal {
  0% {
    transform: translate(-50%, -7rem);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}